#light-mode-to-dark-mode-toggle {
    margin: 12px 10px;

    @media(min-width: 768px) {
        margin: 22px 10px;
    }

    i.fa-sun,
    i.fa-moon {
        color: var(--color-tom-thumb);
    }

    i {
        font-size: 1.4rem;
        align-content: center;
    }
}

html[data-theme="dark"] body {
    #light-mode-to-dark-mode-toggle {

        i.fa-sun,
        i.fa-moon {
            color: var(--color-pearl-bush)
        }
    }
}