body #main-navigation {
    margin: 6px 10px;

     @media(min-width: 768px) {
         margin: 12px 10px;
     }

    .nav-links {
        display: none;
        flex-direction: column;
        list-style-type: none;

        @media(min-width: 768px) {
            display: flex;
            flex-direction: row;
            position: static;
            gap: 20px;

            li a {
                text-decoration: none;
                font-size: 1.25rem;
                color: var(--color-tom-thumb);
                padding: 12px 5px;

                &:focus-visible,
                &:hover {
                    text-decoration: underline;
                    outline: none;
                }
            }
        }

    }

    .menu-toggle {
        display: block;

        i {
            cursor: pointer;
            font-size: 2.2rem;
            align-content: center;
        }

        @media(min-width: 768px) {
            display: none;
        }
    }
}

#main-navigation:has(.active) {
    height: var(--dvh);
    margin: 0px;
    background-color: var(--color-tom-thumb);
    position: fixed;
    right: 0;

    .menu-toggle {
        padding: 0px;

        &:focus-visible {
            border-color: var(--color-pearl-bush);
        }

        i {
            color: var(--color-pearl-bush);
            margin: 12px 5px
        }
    }

    .nav-links {
        display: flex;
        background-color: var(--color-tom-thumb);
        padding: 0px 78px 20px 16px;

        li {
            color: var(--color-pearl-bush);
            padding-bottom: 8px;

            &:focus-visible {
                outline: none;
            }

            .nav-link {
                text-decoration: none;
                color: var(--color-pearl-bush);
                font-size: var(--font-size-base);

                &:focus-visible {
                    text-decoration: underline;
                    outline: none;
                }
            }
        }
    }
}

html[data-theme="dark"] body {

    #main-navigation:has(.active) {
        background-color: var(--color-pearl-bush);

        .menu-toggle {
            &:focus-visible {
                border-color: var(--color-pearl-bush);
            }

            i {
                color: var(--color-tom-thumb);
            }
        }

        .nav-links {
            background-color: var(--color-pearl-bush);

            li .nav-link {
                color: var(--color-tom-thumb);
            }
        }
    }

    #main-navigation .nav-links li a {
        @media(min-width: 768px) {
            color: var(--color-pearl-bush);
        }

    }
}