#additional-links {
    padding: 0px 20px;
    align-self: end;

    @media (min-width: 1023px) {
        padding: 20px;
    }

    .footer-content {
        .parent-info {
            margin-top: 40px;
            height: auto;
        }
    }
}